@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    scroll-behavior: smooth;
  }
body{
  font-family: "Poppins", sans-serif;
}

@media (max-width: 768px) {
  .img-logo{
    width: 290px;
  }
  .div-home{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#about{
    color: #000;
    margin-top: 50px;
    padding-top: 100px;
    /* padding-bottom: 2rem; */
    /* padding-left: 6px;
    padding-right: 6px; */
}
.icons{
  padding: 35px 200px;
}
.icons i{
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.icons img{
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  width: 80px;
  height: 80px;
}
.big{
  padding: 12px;
  height: 100px;
  width: 100px;
}
.icons i:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 0.3s;
  scale: 1.1;
}
.icons img:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 0.3s;
  scale: 1.1;
}
.skills{
  margin: 80px 0;
}

@media (max-width: 768px) {
  #about{
    margin-top: 70px;
    padding-top: 80px;
  }
  .icons{
    padding: 20px 12px;
  }
  .icons img{
    width: 70px;
    height: 70px;
  }
  .icons .tailwind{
    width: 65px;
    height: 65px;
    margin-top: 53px;
  }
  .big{
    padding: 12px;
  }
  .small img{
    margin-top: 3px;
  }
  form{
    margin: 15px;
  }
}

#project{
    height: 100%;
    background-image: url(pics/gallery/bg-project2.png);
    border-image: fill 0 linear-gradient(#0001, #00aaffc5);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: all 0.2s;
}
#project .project{
  cursor: pointer;
  transition: ease-in-out 0.3s;
  padding-bottom: 5px;
}
#project .certificate{
  cursor: pointer;
  transition: ease-in-out 0.3s;
  padding-bottom: 5px;
}
.icon:hover{
    padding: 3px;
}
.navbar-brand{
  font-size: 27px;
}
#navbar{
  padding: 15px 77px;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  #navbar{
    padding: 10px 16px;
  }
  #navbar .navbar-brand{
    font-size: 24px;
  }
}

.home{
    /* height: 100vh; */
    margin-top: 110px;
    /* margin-bottom: 190px; */
}
.h1-home{
  font-size: 43px;
  font-family: "Poppins";
}
.btn:hover{
    background-color: #0787c7;
    color: #fff;
}
#btn-kirim{
    background-color: #00acff;
    color: #fff;
    border-radius: 15px;
}
#btn-kirim:hover{
    background-color: #0787c7;
}
.card{
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.card-body{
  padding-left: 20px;
  padding-bottom: 20px;
}
.card .card-img-top{
    transition: 0.5s all ease-in-out;
}
.card .card-img-top:hover{
    transform: scale(1.1);
}
.button a{
    transition: ease-in-out 0.3s;
    z-index: 99;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: #00acff;
    padding: 11px 13px;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.button a:hover{
    background-color: #0787c7;
    margin-bottom: 5px;
}
.button i{
    rotate: -45deg;
    width: 110%;
}
div ul .nav-item a:hover{
    color: #00acff;
}

.button-53 {
    background-color: #00acff;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 147px;
    margin-top: 30px;
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.button-53:focus {
    outline: 0;
}
  
.button-53:after {
    content: '';
    position: absolute;
    border: 1px solid var(--bs-light-text-emphasis);
    bottom: 5px;
    right: 5px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}
  
.button-53:hover:after {
    bottom: 2px;
    left: 2px;
    transition: all 0.2s;
}
.text-footer{
    color: #869198;
}
.text-footer:hover{
    color: #fff;
    transition: all 0.3s;
    padding-left: 3px;
}
#darkModeToggle{
    width: 40px;
    height: 20px;
}
.form-control{
    color: #000;
}
.text-cr{
    font-size: 13px;
}

.typed::after {
	content: '|';
  font-weight: 700;
  font-size: 22px;
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{

  opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    height: 100%;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  #loading-animation {
    width: 35px;
    height: 35px;
  }

  /* Animasi saat muncul */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  #loading-screen {
    /* Properti CSS lainnya... */
    animation: fadeIn 0.2s ease-in-out; /* Terapkan animasi fadeIn selama 0.5 detik */
  }

  /* Animasi saat hilang */
@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  #loading-screen.loading-finished {
    animation: fadeOut 0.7s ease-in-out; /* Terapkan animasi fadeOut saat loading selesai */
  }



  .lds-dual-ring {
    align-items: center;
    justify-content: center ;
    display: flex;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
   .switch {
    margin-top: 6px;
    margin-right: 10px;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00acff;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 16px;
    height: 16px;
  }
  
  .moon svg {
    fill: #00acff;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 15px;
    height: 15px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }

  ul {
    list-style: none;
  }
  
  .example-1 {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 12px;
  }
  .example-1 .icon-content {
    position: relative;
  }
  .example-1 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-1 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-1 .icon-content .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    color: var(--bs-light-text-emphasis);
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--bs-light-text-emphasis);
  }
  .example-1 .icon-content .link-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease-in-out;
    border: 1px solid white;
  }
  .example-1 .icon-content .link:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-1 .icon-content .link svg {
    width: 20px;
    height: 20px;
  }
  .example-1 .icon-content .link[data-social="instagram"]:hover {
    color: #dc2743;
  }
  .example-1 .icon-content .link[data-social="linkedin"]:hover {
    color: #0077B5;
  }
  .example-1 .icon-content .link[data-social="youtube"]:hover {
    color: #cd242b;
  }
  .example-1 .icon-content .link[data-social="github"]:hover {
    color: #242c34;
  }
  .example-1 .icon-content .link-footer[data-social="instagram"]:hover {
    color: #dc2743;
  }
  .example-1 .icon-content .link-footer[data-social="linkedin"]:hover {
    color: #0077B5;
  }
  .example-1 .icon-content .link-footer[data-social="youtube"]:hover {
    color: #cd242b;
  }
  .example-1 .icon-content .link-footer[data-social="github"]:hover {
    color: #242c34;
  }
  