html{
    scroll-behavior: smooth;
}
#about{
    color: #000;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 6px;
    padding-right: 6px;
}
#project{
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.icon:hover{
    padding: 3px;
}
#navbar{
    margin-top: 12px;
}

.home{
    height: 110vh;
    padding-top: 110px;
    padding-bottom: 190px;
}

.btn:hover{
    background-color: #0787c7;
    color: #fff;
}
#btn-kirim{
    background-color: #00acff;
    color: #fff;
    border-radius: 15px;
}
#btn-kirim:hover{
    background-color: #0787c7;
}
.card{
    overflow: hidden;
}
.card img{
    transition: 0.5s all ease-in-out;
}
.card:hover img{
    transform: scale(1.1);
}
.button a{
    z-index: 99;
    transition: ease-in-out;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: #00acff;
    padding: 11px 13px;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15);
}
.button a:hover{
    background-color: #0787c7;
}
.button i{
    rotate: -45deg;
}
div ul .nav-item a:hover{
    color: #00acff;
}

.button-53 {
    background-color: #00acff;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 140px;
    margin-top: 30px;
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.button-53:focus {
    outline: 0;
}
  
.button-53:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 5px;
    right: 5px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}
  
.button-53:hover:after {
    bottom: 2px;
    left: 2px;
}
.text-footer{
  color: #869198;
}
.text-footer:hover{
    color: #fff;
    padding-left: 3px;
}
#darkModeToggle{
    width: 40px;
    height: 20px;
}
.form-control{
    color: #000;
}
.text-cr{
    font-size: 13px;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    height: 100%;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  #loading-animation {
    width: 35px;
    height: 35px;
  }

  /* Animasi saat muncul */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  #loading-screen {
    /* Properti CSS lainnya... */
    animation: fadeIn 0.2s ease-in-out; /* Terapkan animasi fadeIn selama 0.5 detik */
  }

  /* Animasi saat hilang */
@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  #loading-screen.loading-finished {
    animation: fadeOut 0.7s ease-in-out; /* Terapkan animasi fadeOut saat loading selesai */
  }



  .lds-dual-ring {
    align-items: center;
    justify-content: center ;
    display: flex;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  
  /* .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  } */